---

# Create the showroom user and working directories

- name: "Create showroom user {{ showroom_user }}"
  ansible.builtin.user:
    name: "{{ showroom_user | default('showroom') }}"
    home: "{{ showroom_user_home_dir }}"
    uid: "{{ showroom_user_uid }}"
    password: "{{ showroom_user_password | default(common_password) | password_hash('sha512') }}"

- name: Setup persistent working directory
  ansible.builtin.file:
    path: "{{ __showroom_work_dir }}"
    state: directory
    owner: "{{ showroom_user | default('showroom') }}"
    group: "{{ showroom_user_group | default('showroom') }}"
  loop: "{{ showroom_work_dirs }}"
  loop_control:
    loop_var: __showroom_work_dir

- name: Add passwordless sudo for {{ showroom_user }}
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    regexp: "^{{ showroom_user }}"
    line: "{{ showroom_user }} ALL=(ALL) NOPASSWD: ALL"

- name: Allow users to open ports 80 and up without sudo etc
  ansible.posix.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: 80
    state: present
    reload: true

- name: Create acme.json for LetsEncypt called via traefik with correct permissions
  ansible.builtin.file:
    path: "{{ showroom_user_orchestration_dir }}/acme.json"
    state: touch
    owner: "{{ showroom_user }}"
    group: "{{ showroom_user_group }}"
    mode: u=rw,g-rwx,o-rwx

- name: Enable root password for both machinectl privileges and ssh access
  ansible.builtin.user:
    name: root
    password: |-
      {{ showroom_user_password | d(generated_password) | default(common_password) | password_hash('sha512') }}

- name: Configure ssh for root when showroom_enable_root_ssh is true
  when: showroom_enable_root_ssh | default(false) | bool
  block:

    - name: Enable root ssh via password - used by RHEL labs
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin yes'
        backrefs: true

- name: "Enable linger for the showroom_user"
  ansible.builtin.command: "loginctl enable-linger {{ showroom_user }}"
  become: true
  changed_when: true

- name: Enable and start podman.socket for user via machinectl
  ansible.builtin.command: "machinectl shell {{ showroom_user }}@.host /bin/systemctl --user enable --now podman.socket"
  become: true
  register: podman_socket_result
  changed_when: "'enabled' in podman_socket_result.stdout or 'started' in podman_socket_result.stdout or podman_socket_result.rc == 0"
  retries: 3
  delay: 2

- name: Create a Podman network for showroom and traefik
  containers.podman.podman_network:
    name: "{{ showroom_podman_network | default('showroom_network') }}"
    state: present
  become_user: "{{ showroom_user }}"
