---
- name: Login to OpenShift with token
  command: >
    oc login {{ openshift_api_url if 'https' in openshift_api_url else 'https://' + openshift_api_url + ':6443' }}
    --token={{ openshift_api_key }}
    --insecure-skip-tls-verify
    --kubeconfig=/tmp/kubeconfig-demo
  register: oc_login
  retries: 10
  delay: 30
  until: oc_login.rc == 0

- name: Remove X-Frame-Options header from default ingresscontroller
  kubernetes.core.k8s:
    api_version: operator.openshift.io/v1
    kind: IngressController
    name: default
    namespace: openshift-ingress-operator
    merge_type: merge
    definition:
      spec:
        httpHeaders:
          actions:
            response:
            - action:
                type: Delete
              name: X-Frame-Options
            - action:
                type: Delete
              name: Content-Security-Policy
            - action:
                type: Delete
              name: referrer-policy

- name: Get service-ca.crt from v4-0-config-system-service-ca ConfigMap
  kubernetes.core.k8s_info:
    api_version: v1
    kind: ConfigMap
    name: v4-0-config-system-service-ca
    namespace: openshift-authentication
  register: service_ca_cm

- name: Extract service-ca.crt content
  set_fact:
    service_ca_crt: "{{ service_ca_cm.resources[0].data['service-ca.crt'] }}"

- name: Scale down authentication-operator deployment
  kubernetes.core.k8s:
    api_version: apps/v1
    kind: Deployment
    name: authentication-operator
    namespace: openshift-authentication-operator
    definition:
      spec:
        replicas: 0
    merge_type: merge

#- name: Add nodeSelector to authentication-operator deployment
#  kubernetes.core.k8s:
#    api_version: apps/v1
#    kind: Deployment
#    name: authentication-operator
#    namespace: openshift-authentication-operator
#    definition:
#      spec:
#        template:
#          spec:
#            nodeSelector:
#              node-role.kubernetes.io/test: ""
#    merge_type: merge

- name: Limit authentication-operator pods to 0
  kubernetes.core.k8s:
    api_version: v1
    kind: ResourceQuota
    name: limit-authentication-operator-pods
    namespace: openshift-authentication-operator
    definition:
      spec:
        hard:
          pods: "0"

- name: Patch oauth-openshift route to use reencrypt and service-ca.crt
  kubernetes.core.k8s:
    api_version: route.openshift.io/v1
    kind: Route
    name: oauth-openshift
    namespace: openshift-authentication
    definition:
      spec:
        tls:
          termination: reencrypt
          destinationCACertificate: "{{ service_ca_crt }}"
    merge_type: merge

- name: Wait for router deployment to be ready after IngressController change
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: router-default
    namespace: openshift-ingress
  register: router_deployment
  retries: 20
  delay: 15
  until:
    - router_deployment.resources | length > 0
    - router_deployment.resources[0].status.observedGeneration is defined
    - router_deployment.resources[0].status.observedGeneration == router_deployment.resources[0].metadata.generation
    - router_deployment.resources[0].status.updatedReplicas is defined
    - router_deployment.resources[0].status.updatedReplicas == router_deployment.resources[0].spec.replicas
    - router_deployment.resources[0].status.readyReplicas is defined
    - router_deployment.resources[0].status.readyReplicas == router_deployment.resources[0].spec.replicas

- name: Get Console URL
  kubernetes.core.k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    name: console
    namespace: openshift-console
  register: console_route

- name: Wait for X-Frame-Options header to be removed from Console
  ansible.builtin.uri:
    url: "https://{{ console_route.resources[0].spec.host }}"
    validate_certs: false
    return_content: false
  register: console_response
  failed_when: false
  retries: 15
  delay: 20
  until:
    - console_response.status is defined
    - console_response.status == 200
    - "'x_frame_options' not in console_response"
